MONGO_URI=
PORT=
JWT_SECRET=
GOOGLE_CLIENT_ID=
FRONTEND_URL=http://localhost:5173
DEPARTMENTS = ["sanitation", "water", "electricity", "road_maintenance", "public_safety", "other"]

#cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=

# SMTP (for sending emails)
EMAIL_USER=
EMAIL_PASS=